<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="b01-02.jpg" width="997" height="1029" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="300,264,329,279" href="index.htm" />
<area shape="rect" coords="334,263,385,279" href="b01.htm" />
<area shape="rect" coords="448,263,525,279" href="b01-02.htm" />
<area shape="rect" coords="390,263,443,279" href="#" />
<area shape="rect" coords="295,562,422,688" href="p01-01.htm" />
<area shape="rect" coords="433,563,561,689" href="p01-01.htm" /><area shape="rect" coords="577,562,701,688" href="p01-01.htm" /><area shape="rect" coords="722,563,841,686" href="p01-01.htm" /><area shape="rect" coords="740,693,819,722" href="p01-01.htm" />
<area shape="rect" coords="600,691,680,725" href="p01-01.htm" />
<area shape="rect" coords="460,693,538,724" href="p01-01.htm" />
<area shape="rect" coords="320,691,399,722" href="p01-01.htm" />
<area shape="rect" coords="457,803,560,814" href="b01-02.htm" />
<area shape="rect" coords="456,819,557,831" href="b01-03.htm" /><area shape="rect" coords="457,837,559,849" href="b01-01.htm" />
<area shape="rect" coords="312,897,380,914" href="b01.htm" /><area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
