<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="b01-01.jpg" width="997" height="1029" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="300,264,329,279" href="index.htm" />
<area shape="rect" coords="333,263,384,279" href="a01.htm" />
<area shape="rect" coords="389,264,440,277" href="#" /><area shape="rect" coords="449,263,567,278" href="b01-01.htm" />
<area shape="rect" coords="310,898,385,914" href="b01.htm" />
<area shape="rect" coords="368,714,485,728" href="#" /><area shape="rect" coords="367,734,410,746" href="#" /><area shape="rect" coords="453,799,562,813" href="b01-02.htm" /><area shape="rect" coords="453,819,560,830" href="b01-03.htm" /><area shape="rect" coords="455,836,560,848" href="b01-01.htm" /><area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
