<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="b03-03-01.jpg" width="997" height="1100" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="300,264,329,279" href="index.htm" />
<area shape="rect" coords="333,262,384,278" href="b03.htm" />
<area shape="rect" coords="391,262,445,277" href="b03-03.htm" />
<area shape="rect" coords="449,262,592,277" href="b03-03-01.htm" />
<area shape="rect" coords="346,514,407,527" href="n01.htm" />
<area shape="rect" coords="355,531,481,563" href="b03-04-01.htm" />
<area shape="rect" coords="295,627,424,756" href="p01-01.htm" />
<area shape="rect" coords="320,757,397,792" href="p01-01.htm" /><area shape="rect" coords="347,869,494,887" href="b03-03-01.htm" />
<area shape="rect" coords="347,886,493,905" href="b03-03-01.htm" />
<area shape="rect" coords="347,905,490,924" href="b03-03-01.htm" />
<area shape="rect" coords="308,967,397,981" href="b03-03.htm" /><area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
