<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="b03-04.jpg" width="997" height="1104" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="300,264,329,279" href="index.htm" />
<area shape="rect" coords="333,262,384,278" href="b03.htm" />
<area shape="rect" coords="388,262,445,279" href="b03-04.htm" />
<area shape="rect" coords="328,357,411,370" href="b03-04-01.htm" />
<area shape="rect" coords="480,432,509,447" href="b03-04-01.htm" /><area shape="rect" coords="605,357,690,372" href="b03-04-01.htm" /><area shape="rect" coords="760,431,790,445" href="b03-04-01.htm" /><area shape="rect" coords="588,378,656,446" href="b03-04-01.htm" />
<area shape="rect" coords="308,377,380,444" href="b03-04-01.htm" /><area shape="rect" coords="306,499,376,569" href="b03-04-01.htm" />
<area shape="rect" coords="324,481,406,496" href="b03-04-01.htm" />
<area shape="rect" coords="608,480,685,496" href="b03-04-01.htm" /><area shape="rect" coords="586,501,657,567" href="b03-04-01.htm" /><area shape="rect" coords="764,555,793,569" href="b03-04-01.htm" /><area shape="rect" coords="321,604,410,621" href="b03-04-01.htm" /><area shape="rect" coords="607,607,690,621" href="b03-04-01.htm" /><area shape="rect" coords="586,623,656,694" href="b03-04-01.htm" />
<area shape="rect" coords="305,624,379,694" href="b03-04-01.htm" /><area shape="rect" coords="480,678,511,694" href="b03-04-01.htm" />
<area shape="rect" coords="484,552,510,570" href="b03-04-01.htm" /><area shape="rect" coords="762,678,794,695" href="b03-04-01.htm" /><area shape="rect" coords="323,728,408,744" href="b03-04-01.htm" /><area shape="rect" coords="305,748,377,818" href="b03-04-01.htm" /><area shape="rect" coords="482,801,511,819" href="b03-04-01.htm" />
<area shape="rect" coords="605,728,691,746" href="b03-04-01.htm" />
<area shape="rect" coords="758,805,791,817" href="b03-04-01.htm" />
<area shape="rect" coords="586,747,660,816" href="b03-04-01.htm" /><area shape="rect" coords="324,854,411,869" href="b03-04-01.htm" />
<area shape="rect" coords="309,874,374,941" href="b03-04-01.htm" />
<area shape="rect" coords="482,926,511,942" href="b03-04-01.htm" /><area shape="rect" coords="766,928,794,941" href="b03-04-01.htm" />
<area shape="rect" coords="608,855,690,869" href="b03-04-01.htm" />
<area shape="rect" coords="587,874,656,941" href="b03-04-01.htm" /><area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
