<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="index.jpg" width="997" height="1050" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="490,363,570,375" href="b01-01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="301,263,330,278" href="index.htm" />
<area shape="rect" coords="557,438,609,452" href="b01.htm" /><area shape="rect" coords="293,520,470,549" href="b03-01.htm" /><area shape="rect" coords="731,652,816,669" href="b03-02.htm" />
<area shape="rect" coords="729,851,818,866" href="b03-03.htm" />
<area shape="rect" coords="459,849,540,866" href="b03-04.htm" />
<area shape="rect" coords="321,556,399,571" href="b03-01-01.htm" />
<area shape="rect" coords="598,558,680,573" href="b03-02-01.htm" /><area shape="rect" coords="575,522,747,551" href="b03-02.htm" />
<area shape="rect" coords="447,654,539,671" href="b03-01.htm" />
<area shape="rect" coords="497,618,523,629" href="b03-01-01.htm" /><area shape="rect" coords="777,617,803,633" href="b03-02-01.htm" /><area shape="rect" coords="318,755,403,772" href="b03-04-01.htm" /><area shape="rect" coords="599,755,682,770" href="b03-03-01.htm" />
<area shape="rect" coords="499,816,525,829" href="b03-04-01.htm" /><area shape="rect" coords="775,817,805,831" href="b03-03-01.htm" />
<area shape="rect" coords="294,718,466,748" href="b03-04.htm" /><area shape="rect" coords="576,718,757,748" href="b03-03.htm" />
<area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
