<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="p01-01.jpg" width="997" height="1308" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="300,264,329,279" href="index.htm" />
<area shape="rect" coords="334,263,385,279" href="p01.htm" />
<area shape="rect" coords="392,262,480,279" href="p01-01.htm" />
<area shape="rect" coords="615,595,676,608" href="n01.htm" /><area shape="rect" coords="640,609,726,626" href="b03-02-01.htm" /><area shape="rect" coords="628,630,786,663" href="b03-04-01.htm" /><area shape="rect" coords="649,666,747,681" href="b03-03-01.htm" />
<area shape="rect" coords="602,1096,679,1130" href="p01-02.htm" />
<area shape="rect" coords="576,966,704,1091" href="p01-02.htm" />
<area shape="rect" coords="460,1097,540,1130" href="p01-02.htm" />
<area shape="rect" coords="297,966,426,1095" href="p01-02.htm" />
<area shape="rect" coords="716,965,843,1088" href="p01-02.htm" />
<area shape="rect" coords="740,1093,822,1125" href="p01-02.htm" />
<area shape="rect" coords="322,1096,399,1131" href="p01-02.htm" />
<area shape="rect" coords="435,966,562,1094" href="p01-02.htm" />
<area shape="rect" coords="313,1180,402,1194" href="p01.htm" /><area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
