<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>::漢百精品館::</title>
<style type="text/css">
<!--
body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CED3DE;
}
-->
</style></head>

<body>
<div align="center"><img src="p01.jpg" width="997" height="1229" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="435,894,563,1020" href="p01-01.htm" />
  <area shape="rect" coords="600,1020,680,1054" href="p01-01.htm" />
  <area shape="rect" coords="576,894,700,1020" href="p01-01.htm" />
  <area shape="rect" coords="714,893,841,1018" href="p01-01.htm" />
  <area shape="rect" coords="737,1022,816,1051" href="p01-01.htm" />
  <area shape="rect" coords="459,1022,537,1053" href="p01-01.htm" />
  <area shape="rect" coords="297,894,424,1020" href="p01-01.htm" />
  <area shape="rect" coords="321,1024,400,1055" href="p01-01.htm" />
  <area shape="rect" coords="433,695,561,821" href="p01-01.htm" />
  <area shape="rect" coords="598,821,678,855" href="p01-01.htm" />
  <area shape="rect" coords="574,695,698,821" href="p01-01.htm" />
  <area shape="rect" coords="712,694,839,819" href="p01-01.htm" />
  <area shape="rect" coords="735,823,814,852" href="p01-01.htm" />
  <area shape="rect" coords="457,823,535,854" href="p01-01.htm" />
  <area shape="rect" coords="295,695,422,821" href="p01-01.htm" />
  <area shape="rect" coords="319,825,398,856" href="p01-01.htm" />
  <area shape="rect" coords="434,495,562,621" href="p01-01.htm" />
  <area shape="rect" coords="599,621,679,655" href="p01-01.htm" />
  <area shape="rect" coords="575,495,699,621" href="p01-01.htm" />
  <area shape="rect" coords="713,494,840,619" href="p01-01.htm" />
  <area shape="rect" coords="736,623,815,652" href="p01-01.htm" />
  <area shape="rect" coords="458,623,536,654" href="p01-01.htm" />
  <area shape="rect" coords="296,495,423,621" href="p01-01.htm" />
  <area shape="rect" coords="320,625,399,656" href="p01-01.htm" />
  <area shape="rect" coords="289,223,399,255" href="a01.htm" />
  <area shape="rect" coords="400,223,511,255" href="b01.htm" />
<area shape="rect" coords="511,223,623,255" href="b03.htm" />
<area shape="rect" coords="623,223,734,255" href="c01.htm" />
<area shape="rect" coords="734,223,847,255" href="d01.htm" />
<area shape="rect" coords="136,261,193,276" href="p01.htm" />
<area shape="rect" coords="134,285,191,300" href="p01.htm" />
<area shape="rect" coords="135,310,194,324" href="p01.htm" />
<area shape="rect" coords="136,332,194,348" href="p01.htm" />
<area shape="rect" coords="135,357,192,370" href="p01.htm" />
<area shape="rect" coords="134,378,193,395" href="p01.htm" />
<area shape="rect" coords="134,404,194,421" href="p01.htm" />
<area shape="rect" coords="117,495,193,511" href="n01.htm" /><area shape="rect" coords="117,517,261,535" href="n01.htm" />
<area shape="rect" coords="117,542,209,559" href="n01.htm" /><area shape="rect" coords="117,566,190,584" href="n01.htm" /><area shape="rect" coords="117,589,215,607" href="n01.htm" />
<area shape="rect" coords="300,264,329,279" href="index.htm" />
<area shape="rect" coords="334,262,385,278" href="p01.htm" />
<area shape="rect" coords="436,298,564,424" href="p01-01.htm" />
<area shape="rect" coords="601,424,681,458" href="p01-01.htm" />
<area shape="rect" coords="577,298,701,424" href="p01-01.htm" />
<area shape="rect" coords="715,297,842,422" href="p01-01.htm" /><area shape="rect" coords="738,426,817,455" href="p01-01.htm" />
<area shape="rect" coords="460,426,538,457" href="p01-01.htm" />
<area shape="rect" coords="298,298,425,424" href="p01-01.htm" />
<area shape="rect" coords="322,428,401,459" href="p01-01.htm" /><area shape="rect" coords="291,42,470,107" href="index.htm" />
</map>
</div>
</body>
</html>
